<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <welcome-file-list>
        <!-- call index.jsp as first page -->
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.levi.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.levi.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>org.levi.web.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProcessesServlet</servlet-name>
        <servlet-class>org.levi.web.ListProcessesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTasksServlet</servlet-name>
        <servlet-class>org.levi.web.ListTasksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessActionServlet</servlet-name>
        <servlet-class>org.levi.web.ProcessActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUserTaskFormServlet</servlet-name>
        <servlet-class>org.levi.web.SubmitUserTaskFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>velocityView</servlet-name>
        <servlet-class>org.apache.velocity.tools.view.servlet.VelocityViewServlet</servlet-class>
        <init-param>
            <param-name>org.apache.velocity.toolbox</param-name>
            <param-value>/WEB-INF/toolbox.xml</param-value>
        </init-param>
        <init-param>
            <param-name>org.apache.velocity.properties</param-name>
            <param-value>/WEB-INF/velocity.properties</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>FormGeneratorServlet</servlet-name>
        <servlet-class>org.levi.web.FormGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTFormGeneratorServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTFormGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskActionServlet</servlet-name>
        <servlet-class>org.levi.web.TaskActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagerServlet</servlet-name>
        <servlet-class>org.levi.web.UserManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTListTaskServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTListTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTTaskActionServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTTaskActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTProcessActionServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTProcessActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTSubmitUserTaskServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTSubmitUserTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTLoginServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTListProcessServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTListProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTLogoutServlet</servlet-name>
        <servlet-class>org.levi.web.troubleticket.TTLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TTListTaskServlet</servlet-name>
        <url-pattern>/troubleticket/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTTaskActionServlet</servlet-name>
        <url-pattern>/troubleticket/taskAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTProcessActionServlet</servlet-name>
        <url-pattern>/troubleticket/startProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTListProcessServlet</servlet-name>
        <url-pattern>/troubleticket/listProcesses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTSubmitUserTaskServlet</servlet-name>
        <url-pattern>/troubleticket/submitUserTaskForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTLoginServlet</servlet-name>
        <url-pattern>/troubleticket/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTLogoutServlet</servlet-name>
        <url-pattern>/troubleticket/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>TTFormGeneratorServlet</servlet-name>
        <url-pattern>/troubleticket/vel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTListTaskServlet</servlet-name>
        <url-pattern>/loanapp/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTTaskActionServlet</servlet-name>
        <url-pattern>/loanapp/taskAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTProcessActionServlet</servlet-name>
        <url-pattern>/loanapp/startProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTListProcessServlet</servlet-name>
        <url-pattern>/loanapp/listProcesses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTSubmitUserTaskServlet</servlet-name>
        <url-pattern>/loanapp/submitUserTaskForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTLoginServlet</servlet-name>
        <url-pattern>/loanapp/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTLogoutServlet</servlet-name>
        <url-pattern>/loanapp/logout</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>TTFormGeneratorServlet</servlet-name>
        <url-pattern>/loanapp/vel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProcessesServlet</servlet-name>
        <url-pattern>/processes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTasksServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessActionServlet</servlet-name>
        <url-pattern>/startProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUserTaskFormServlet</servlet-name>
        <url-pattern>/submitUserTaskForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>velocityView</servlet-name>
        <url-pattern>*.vm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormGeneratorServlet</servlet-name>
        <url-pattern>/vel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskActionServlet</servlet-name>
        <url-pattern>/taskAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagerServlet</servlet-name>
        <url-pattern>/usrmng</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>http://jakarta.apache.org/taglibs/veltag-1.0</taglib-uri>
            <taglib-location>/WEB-INF/velocity-view.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
