/* Design by http://www.dreamtemplate.com */
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#6d6d6d;
	font:normal 12px/1.5em "Liberation sans", Arial, Helvetica, sans-serif;
	background:#fff url(../images/main_bg.gif) repeat-x left top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
}
.logged {
color:white;
font-weight:bold;
	float:right;
}
.logged span{
color:red;
	float:right;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:5px 8px;
	font-size:24px;
	line-height:30px;
	font-weight:normal;
	color:#fff;
	background:#739fcd url(../images/h2_bg.gif) no-repeat right top;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#739fcd;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.header {
}
.header_resize {
	margin:0 auto;
	padding:0 0 25px;
	width:960px;
	background:url(../images/header_bg.jpg) no-repeat 240px top;
}
.logo {
	padding:0;
	float:none;
	float:left;
	width:auto;
	height:114px;
}
h1 {
	margin:0;
	padding:32px 0 0;
	font-size:36px;
	font-weight:bold;
	line-height:1.2em;
	text-transform:none;
}
h1 a, h1 a:hover {
	color:#fff;
	text-decoration:none;
}
h1 span {
}
h1 small {
	display:block;
	font-size:13px;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;
}
.slider {
	margin:0;
	padding:0;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:34px 0 0;
	height:48px;
	float:right;
}

.menu_nav ul {
	list-style:none;
	padding:0;
	height:48px;
	float:left;
	background:#8ba8c1;
}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:15px 22px;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
	text-transform:none;
	text-align:center;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
.content {
	padding:0;
}
.content_resize {
	margin:0 auto;
	padding:24px 0 40px;
	width:960px;
}
.content .mainbar {
	margin:0;
	padding:0;
	float:right;
	width:684px;
}
.content .mainbar h2 {
}
.content .mainbar div.img {
	padding:12px 0 0;
	float:left;
	width:179px;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
}
.content .mainbar .article {
	margin:0 0 8px;
	padding:6px 20px;
}
.content .mainbar .post_content {
	float:right;
	width:440px;
}
.content .mainbar .post_content strong {
	color:#6d6d6d;
}
.content .sidebar {
	padding:0;
	float:left;
	width:260px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:12px 20px 24px;
}
.content .sidebar h2 {
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#6e6e6e;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li, ul.ex_menu li {
	padding:8px 0;
	width:220px;
}
ul.sb_menu li a {
	color:#6e6e6e;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}
ul.ex_menu li a {
	font-weight:bold;
	color:#6e6e6e;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#739fcd;
	font-weight:bold;
	text-decoration:none;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin:0 0 8px;
	padding:6px 0;
	color:#6e6e6e;
}
p.infopost a {
	padding:0 2px;
	text-decoration:none;
	font-weight:normal;
	color:#739fcd;
}
p.infopost a:hover {
	text-decoration:underline;
}
p.infopost span.date {
	color:#949494;
}
.article a.com {
	display:block;
	float:right;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	color:#739fcd;
	background:no-repeat left top;
}
.article a.com:hover {
	text-decoration:none;
}
.article a.com span {
	font-weight:bold;
}
.post_content a.rm {
	display:block;
	float:left;
	margin:0 0 16px;
	padding:9px 0 0;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	text-transform:none;
	color:#739fcd;
	text-decoration:none;
	text-align:center;
}
.post_content a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:24px 20px;
	font-size:11px;
	color:#6e6e6e;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	display:block;
	float:left;
	margin:0 4px 0 0;
	padding:4px 0;
	width:26px;
	text-decoration:none;
	text-align:center;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#7aa4d0;
}
.content p.pages a {
	color:#6d6d6d;
	border:none;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:0;
	background:#739fcd;
	border-bottom:8px solid #fff;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#fff;
}
.fbg h2 {
	background:none;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:4px solid #ece7e7;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li a {
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#fff;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#fff;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#fff;
	text-decoration:underline;
	font-weight:bold;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	padding:0;
	float:left;
}
#formsearch {
	margin:0;
	padding:10px 20px;
	width:auto;
	height:30px;
	background:#739fcd url(../images/search_bg2.gif) no-repeat right top;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:7px 6px 7px 10px;
	float:left;
	width:175px;
	font-size:12px;
	line-height:16px;
	color:#a8acb2;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	background:#739fcd;
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	color:#fff;
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#fff;
	font-weight:normal;
	margin:0;
	padding:0;
	border:none;
	text-decoration:underline;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#fff;
	background-color:transparent;
	text-decoration:none;
}
.footer_resize .lf {
	float:left;
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
}
