<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>ShuffleBug | Support</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/coin-slider.css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-times-700.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/coin-slider.min.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="searchform">
        <form id="formsearch" name="formsearch" method="post" action="#">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
          <input name="button_search" src="images/search.gif" class="button_search" type="image" />
        </form>
      </div>
      <div class="logo">
        <h1><a href="index.html">Shuffle<span>Bug</span> <small>Company Slogan Here</small></a></h1>
      </div>
      <div class="clr"></div>
      <div class="menu_nav">
        <ul>
          <li class="active"><a href="am_myissues.html"><span>My Issues</span></a></li>
          <li><a href="am_unassignedissues.html"><span>Unassigned Issues</span></a></li>
          <li><a href="openissues.html"><span>Open Issues</span></a></li>
          <li><a href="closedissues.html"><span>Closed Issues</span></a></li>
          <li><a href="newissue.html"><span>Create New Issue</span></a></li>
        </ul>
      </div>
      <div class="clr"></div>      
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
           <form action="#" method="post" id="create_new_issue">
            <ol>
              <li>
                <label for="ticket_id">Issue ID</label>
                <label for="ticket_id">ISS # 1212121</label>
              </li>
              
              <li>
                <label for="patch_success">Successfully Applied Patch</label>
                <input type="radio" name="patch_success" value="Yes"> Yes 
					 <input type="radio" name="patch_success" value="No" checked>No  <br>
              </li>
              <li>
                <label for="need_to_reopen">Need to Reopen</label>
                <input type="radio" name="need_to_reopen" value="Yes"> Yes 
					 <input type="radio" name="need_to_reopen" value="No" checked>No  <br>
              </li>              
              <li>
                <p></p>
                <input type="submit" value="Finish"/>
              </li>
            </ol>
          </form>
        </div>
      </div>
      
      <div class="clr"></div>
    </div>
  </div>
 
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Powered By <a href="http://projectlevi.weebly.com/">Levi</a>.</p>
      <p class="rf">|<a href="#">Privacy Policy</a> | <a href="#">Community Guidelines</a> | <a href="#">Terms of Service</a> | <a href="#">Documentation</a></p>
      <div style="clear:both;"></div>
    </div>
  </div>
</div>
</body>
</html>
